.horizontal-tabs {
    max-width: 600px;
    background-image: url(images/slimakLogo.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 540px;
}

.mainView .name {
    width: 80%;
}

.mainView .count {
    width: 20%;
}

.category {
    background-color: #f4f5f7 !important;
}

.dialogView .name {
    width: 60%;
}

.dialogView .count {
    width: 20%;

}.dialogView .actions {
    width: 20%;
}

#textarea-id {
    height: 500px;
    width: 500px;
}

form.aui .textarea {
    max-width: 600px !important;
}